﻿
@model AddOrderViewModel

@{
    ViewData["Title"] = "AddOrder";
}

<h1 class="align-self-md-center">Order Sweets</h1>
<br />



<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<form>
    <div align="center">
        <table align="center">
            <tr>
                <td>
                    Select Customer :
                </td>
                <td align="center">
                    <select class="dropdown" style="width:150px;height:40px" id="getCustomer" name="CustomerId">
                        <option>Select Customer</option>
                        @foreach (var customer in Model.GetCusName)
                        {
                            <option class="dropdown-item" value="@customer.CusId" id="optcust">
                                @customer.CusName
                            </option>

                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Order Date:
                </td>
                <td class="form-control-sm"> @Html.TextBox("DateCreated", DateTime.Today, new { @readonly = "readonly" }) </td>
            </tr>

        </table>



    </div>
    <br />
    <br />

    <div align="center" id="productDiv">
        <table class="table" id="table" title="productTable">
            <tr>

                <th>Product</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            <tr>

                <td>
                    <select class="dropdown" style="width:150px;height:40px" id="productpick" name="ProductId">
                        <option>Select Product</option>
                        @foreach (var product in Model.GetProName)
                        {
                            <option class="dropdown-item" value="@product.ProductId"
                                    id="prodoption" data-unit-price="@product.Price"
                                    data-product-description="@product.ProductDescription">
                                @product.ProductName
                            </option>

                        }
                    </select>
                </td>
                <td>
                    <p name="productDescription" id="description"></p>
                </td>
                <td>
                    <p name="Price" id="price"></p>
                </td>
                <td>
                    <input type="number" name="quantity" id="quantity" style="padding:0;vertical-align:middle;width:75px;text-align:center" class="form-control" onchange="CalPrice(this.value)" required />
                </td>
                <td>
                    <p name="Total" id="total"></p>
                  
                </td>
                <td>
                    <input type="button" id="addorder" class="btn btn-primary" style="position:relative;color:white" value="Add" />
                </td>

            </tr>
        </table>



        <br />
        <br />
        <div>
            <table class="table" id="table2" title="productTable2">
                <tr>

                    <th>Product</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th> </th>
                </tr>
                <tbody id="OrderItemContainer">
                    <tr></tr>
                </tbody>
            </table>
            <div class="text-right">
                <p name="GrandTotal"><span id="grandtotal"></span></p>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary float-right" align="left" id="save">Save</button>
    </div>

    <script src="~/js/AddOrder.js"></script>
    
</form>

